
.gotop {
  position: fixed;
  width: auto;
  right: 2%;
  bottom: 5px;
  height: auto;
  /* font-size: 3rem; */
  padding: 25px 15px;
  border: none;
  outline: none;
  z-index: 1;
  cursor: pointer;
  background-color: #e29ba1;
  color: black;
  /* border-radius: 100%; */
  border-radius: 6px;
  transition: all 0.5s;
  cursor: pointer;
}

.gotop:hover {
  transform: scale(1.1, 1.1);
}

 footer{
  background-color: white;
 }

/*************footer End*****************/

.social {
  /* position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%); */
  margin:0px auto;
  padding:0;
  display:flex;
}

.social li {
  list-style: none;
}

.social li a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

.social li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

.social li a .fab , .social li a .fa {
  width: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}

.social li:nth-child(1) a:hover .fa {
  color: #BB001B;
}

.social li:nth-child(2) a:hover .fab {
  color: #0A66C2;
}

.social li:nth-child(3) a:hover .fab {
  color: #4078c0;
}

.social li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

.social li:nth-child(5) a:hover .fab {
  color: #e4405f;
}